<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="nz.org.winters.android.unlockchecker"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk android:minSdkVersion="8" android:targetSdkVersion="18"/>

    <application>
        <service android:name="nz.org.winters.android.unlockchecker.UnlockService" >
        </service>
        <service android:name="nz.org.winters.android.unlockchecker.TrialService" >
        </service>
    </application>

</manifest>